* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444;
}

.intro-left {
    background-image: url(../images/brick_wall.jpg);
    background-size: contain;
    position: fixed;
    left: 0;
    width: 33.3333%;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-right: 3px solid maroon;
}

@media (max-width: 768px) {
    .intro-left {
        height: 60vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        border: 3px solid maroon;
    }
}

.avatar {
    width: 10rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid rgb(77, 4, 4);
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote {
    float: right;
    font-size: 15px;
}

.blockquote {
    font-size: 16px;
}

section {
    margin: 3rem;
    font-size: 1.2 rem;
}

a {
    color: #444;
    text-decoration: none;
}

.thumbnail {
    overflow: hidden;
    width: max-content;
    height: 200px;
    width: 308px;
    border-radius: 5px;
    border: 3px groove maroon;
}

.thumbnail:hover {
    border: 5px solid limegreen;
}

/* .footer {
    background-color: #fff;
    font-size: 1rem;
    margin: 0;
} */

.about-me {
    font-weight: 300;
}

.background-effect {
    background-color: rgb(255, 236, 236);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    clip-path: polygon(29% 0, 100% 0%, 83% 100%, 9% 100%);
}

.link-section {
    justify-content: space-evenly;
    padding-top: 60px;
    font-weight: 400;
}

.nav-style {
    color: white;
    font-weight: 300;
}

.project-previews {
    margin-bottom: 40px;
    text-align: center;
    color: black;
}
